<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" >
  </head>
  <body>
    <div id="app">
        Room
        <div id="users">
            <p>{{ users.length }} Users</p>
        </div>
        <ul id="cards">
            <li v-for="item in items" :key="item.index" class="card">
                <p>{{ item.text }}</p>
            </li>
        </ul>
        <div id="select-box">
            <button id="select" >Select</button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
